<html xmlns:th="https://www.thymeleaf.org" >

	<body>
		
		<a href="/agenda/deconnexion"> Deconnexion </a>
		
		<h1 th:text="'Personne connecté : ' + ${session.nom} + ' ' + ${session.prenom} "/>
		
		<h1>Vos agendas : </h1>
		
		<ul th:each="agenda : ${agendas}">
			<form action="/agenda/directionAgenda" method="post">
			
				<input type="hidden"  name="idAgenda" th:value="${agenda.id}">
				<input type="hidden"  name="idProprietaire" th:value="${session.id}">
				
				<input type="submit" th:value="${agenda.titre}">
			</form>
		</ul>	
			
			
		
		<h1>Créer une agenda : </h1>
		
		<form action="/agenda/addAgenda" method="post">
			<p>Titre : <input type="text" name="titre"></p>
			<input type="hidden"  name="mail" th:value="${session.mail}">
			<input type="hidden"  name="mdp" th:value="${session.mdp}">
			<input type="submit" value="Inscription">
		</form>	
		
		
	</body>
</html>